<div class='row'>
  <div class="eight columns centered"> <h3 class="whiteColor">New Shoot</h3> </div>
</div>

<div class='row'>
  <div class='eight columns centered'>
    <div class="outerBox whiteColor"> 
      <%= render 'form' %>
      <!--      <%= link_to 'Back', shoots_path %> -->
    </div>
  </div>
</div>


